

main{
    margin-top:5%;
   
}
body{
    background-image: url(images/background.jpg); 
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

@media only screen and (max-width: 768px){
    body{
        background-size:300%;
    }
}

p{
    list-style: none;
    font-size:1.3em;
}

.padding{
    margin-left: 13%;
    margin-right: 13%;
}

.boks{
    background-color: rgba(105, 145, 135, 0.5);
    color: black;
    font-family: 'Mina', sans-serif;
    border: 1px solid black;
}

a{
    color:black;
    
    font-size: 1.8em;
    font-family: 'Mina', sans-serif;
    
}

.side{
    padding-right: 1%;
    padding-left: 1%;
}

footer{
    text-align: center;
    background-color: rgba(105, 145, 135, 0.5);
    margin-bottom: 5em;
}

.ned{
    margin-top:5em;
    margin-bottom:2em;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

